include ./../includes/base

.create-edit-container
  form.create-edit(action=post ? '/update-post/#{post.slug}': '/create-post', method='post')
    div Titulua
    input(type='text', name='title', value=post ? post.title: '')
    div Edukia
    textarea(name='body')
      if post
        | #{post.body}
    div Etiketak
    textarea(name='tag')
      if post
        each tag, i in post.tags
          if i === post.tags.length-1
            | #{tag.tag}
          else
            | #{tag.tag},&nbsp;
    div.all-tags
      each tag, i in tags
        if i === tags.length-1
          | #{tag}
        else
          | #{tag},&nbsp;
    button.create-edit(type='submit') Gehitu
    
  include templates/instructions

include ./../includes/foot
