include ./../includes/base
container
  div.dashboard-wrapper
    div.dashboard-options
      span Kaixo #{user.email}
      a.add-icon(href='/artikuluak/berria')
      a.exit-icon(href='/logout')
    ul.wrapper-title
      li.item-title Titulua
      li.item-title Data
      li.item-title-tag Etiketak
      li.item-title Ekintzak
    each post in posts
      ul.wrapper-row
        li.item-row #{post.title}
        li.item-row #{moment(post.createdAt).format('L')}
        li.item-row-tag
          each tag, i in post.tags
            if i === post.tags.length-1
              a(href='/artikuluak/etiketak/#{tag.tag}') #{tag.tag}
            else
               a(href='/artikuluak/etiketak/#{tag.tag}') #{tag.tag},&nbsp;
        li.item-row
          a.edit-icon(href='/artikuluak/editatu/#{post.slug}')
          a.remove-icon(href='/delete-post/#{post.slug}')

include ./../includes/foot
