include includes/base
div.wrapper
  article
    h2 #{post.title}
    div.createdAt
      span.clock-icon
      &nbsp;
      span #{moment(post.createdAt).format('LLLL')}
      if post.updatedAt
        span #{moment(post.updatedAt).calendar()} editatua.
    div.post-body !{post.body}
    div.social-bar
      span.st_twitter_large(st_title='#{post.title}', st_via='benatespina')
      span.st_facebook_large(st_title='#{post.title}')
      span.st_googleplus_large(st_title='#{post.title}')
      span.st_linkedin_large(st_title='#{post.title}')
      span.st_meneame_large(st_title='#{post.title}')
      span.st_reddit_large(st_title='#{post.title}')
    h3
      span.tag-icon
      each tag in post.tags
        span.tag
          a(href="/posts/tag/#{tag.tag}") !{tag.tag}
    div.comments-container
      h3
        span.bubbles-icon
        span IRUZKINAK
      #disqus_thread
        script.
            var disqus_shortname = 'blogbenatespina';
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
  aside
    include ./templates/aside
  footer
    include ./templates/footer

include ./includes/foot