h2 #{post.title}
div.createdAt
  span.clock-icon
  &nbsp;
  span #{moment(post.createdAt).format('LLLL')}
div.post-body !{post.body}...
  a(href="/posts/#{post.slug}") (irakurtzen jarraitu)
div.tags-wrapper
  h3
    span.tag-icon
    span ETIKETAK
  each tag in post.tags
    span.tag
      a(href="/posts/tag/#{tag.tag}") !{tag.tag}